@{
    ViewData["Title"] = "Home";
}
<h2>@ViewData["Title"].</h2>

<p>I would like to make a [ one off | monthly | quarterly | annual ] donation of:</p>
<ul>
    <li>[ ] $25</li>
    <li>[ ] $50</li>
    <li>[ ] $100</li>
    <li>[ $________  ] The amount of my choice</li>
</ul>
<p>[ Donate with PayPal ]</p>
